.friendList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #282727;
  border-radius: 8px;
  padding: 16px;
  width: 70px;
  background-color: #fff;
}

.item-friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.name-friend {
  font-size: 24px;
  margin-bottom: 8px;
  color: #333;
}

.status-friend {
  font-size: 16px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
